/* variables */
:root {
  --brand-primary-fonts: 'Roboto', sans-serif;
  --brand-secondary-fonts: 'Raleway', sans-serif;
  --none-text-decoration: none;
  --none-list-bullets: none;
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --bg-white-color: #ffffff;
  --bg-blue-color: #4d5ae5;
  --bg-blue-gray: #f4f4fd;
  --font-size-sixteen: 16px;
  --line-height-one-half: 1.5;
}
body {
  font-family: var(--brand-primary-fonts);
  color: var(--primary-color);
}

/* title's color */
h2,
h3,
h4 {
  color: var(--secondary-color);
}
h1,
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
p {
  font-size: var(--font-size-sixteen);
  line-height: var(--line-height-one-half);
}
/* header section */
.logo {
  font-family: var(--brand-secondary-fonts);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: var(--none-text-decoration);
}
.header a,
.logo a,
.navigation a {
  text-decoration: var(--none-text-decoration);
  color: var(--secondary-color);
}

ul {
  list-style: var(--none-list-bullets);
}
a.current {
  color: #404bbf;
}
.contact-info a {
  color: var(--primary-color);
  text-decoration: var(--none-text-decoration);
}
.contact-info .contact-item:hover,
.contact-info .contact-item:focus {
  color: #404bbf;
}

.contact-info {
  font-size: var(--font-size-sixteen);
  line-height: var(--line-height-one-half);
  letter-spacing: 0.02em;
}

.logo span {
  font-weight: 800;
  color: var(--bg-blue-color);
}

/* index page main section */

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.01;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--bg-white-color);
}
.section-one .btn {
  background: var(--bg-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.section-one .btn:hover,
.section-one .btn:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-one .btn span {
  font-weight: 500;
  font-size: var(--font-size-sixteen);
  line-height: var(--line-height-one-half);
  letter-spacing: 0.04em;
  color: var(--bg-white-color);
}

/* footer section */
.logo.footer {
  height: 22px;
  line-height: 1.17;
  color: var(--bg-blue-gray);
}

.logo.footer span {
  height: 22px;
  line-height: 1.17;
}

.footer p {
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

footer,
.section-one {
  background: var(--primary-color);
}
.section-three {
  background: var(--bg-blue-gray);
}

/* portfolio page - main section */

.btn-filter:hover,
.btn-filter:focus {
  background: #404bbf;
  color: #ffffff;
}
.btn-filter {
  background: #f4f4fd;
  color: #4d5ae5;
}
.project-list a {
  text-decoration: var(--none-text-decoration);
  color: var(--brand-primary-fonts);
}
.project-card:hover .img-description,
.project-card:focus .img-description {
  background: #4d5ae5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  visibility: visible;
}
.img-description {
  visibility: hidden;
  color: #f4f4fd;
}
